{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="{% static 'capstone/myscript.js'%}"></script>

    <link rel="stylesheet" href="{% static 'capstone/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'capstone/favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Path</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand brandBorder" href="{% url 'index' %}"><b class="title">/</b><i class="fab fa-readme"></i><b class="title">\</b></a>
            <button id="navButton" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-left font-weight-bold"style="padding-left:120px;">
                    {% if user.is_authenticated %}
                
                        <li id="loggedNav" class="nav-item">
                            <a id="navLinkin" class="nav-link text-capitalize" href="{% url 'mycv' request.user %}" title="Home"><i class="fas fa-home"></i> {{ request.user.username }}</a>
                        </li>
                        <li id="loggedNav" class="nav-item">
                            <a id="navLinkin" class="nav-link" href="{% url 'account' %}" title="{{ request.user.username}}'s account"><i class="fas fa-cog"></i> Account</a>
                        </li>
                        {% if request.user.groups.first.name == "developer" %}
                            <li id="loggedNav" class="nav-item">
                                <a id="navLinkin" class="nav-link" href="{% url 'addProject' %}"><i class="fas fa-plus"></i> Project</a>
                            </li>
                            
                            <li id="loggedNav" class="nav-item">
                                <a id="navLinkin" class="nav-link" href="{% url 'allMessages' request.user.username %}"><i class="far fa-envelope"></i> Messages</a>
                            </li>
                        {% endif %}
                        {% if request.user.groups.first.name == "employer" %}
                            <li id="loggedNav" class="nav-item">
                                <a id="navLinkin" class="nav-link" href="{% url 'developers' %}"><i class="fab fa-connectdevelop"></i> Developers</a>
                            </li>
                        {% endif %}
                            
                            <li id="loggedNav" class="nav-item">
                                <a id="navLinkin" class="nav-link" href="{% url 'logout' %}" title="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                    {% else %}
                        <li id="outNav" class="nav-item">
                            <a id="navLinkOut" class="nav-link" href="{% url 'index' %}"><i class="fas fa-info-circle"></i> About</a>
                        </li>
                        <li id="outNav" class="nav-item">
                            <a id="navLinkOut" class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li id="outNav" class="nav-item">
                            <a id="navLinkOut" class="nav-link" href="{% url 'register' %}"><i class="far fa-registered"></i> Register</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
 
    <!-- buttons to scroll to the top and to scroll to the bottom social icons-->
    <button id="btnTop" title="Top Page"><i class="fas fa-arrow-up" style="color:white;"></i></button>
    <button id="mediaBtn" title="My Social Media"><i class="fas fa-arrow-down" style="color:white;"></i></button>
      
    <!-- Jumbotron -->
    <div class="container-fluid">
        <div class="row jumbotron jumbo" {% if account.backgroundImage %} style="background-image: url('{{ account.backgroundImage.url }}');height:200px;" {% endif %}>
        <img class="profileImage" {% if account.userImage %} src="{{ account.userImage.url }}" {% else %} src="{% static 'capstone/noimg.png' %}" {% endif %} alt="profile image">
        </div>
    </div>

    <!--Username section -->
    <div class="container-fluid pt-4">
        <div class="row welcome text-center">
            <div class="col-12">
                {% if account.user.groups.first.name == "developer" %}
                    <h1 class="display-4 font-weight-bold title text-capitalize">{{ account.user }}'s Developer Profile</h1>
                {% else %}
                    <h1 class="display-4 font-weight-bold title text-capitalize">{{ account.user }} Employer Profile</h1>
                {% endif %}
            </div>
        </div>
    </div>

    {% if account.user.groups.first.name == "developer" %}
          <!-- title for skills-->
          <div class="container-fluid" id="skillsSelect">
            <div class="row welcome text-center justify-content-center">
                <div class="col-10">
                    <div class="col-12">
                        <h1 class="display-4 font-weight-bold title">Skills</h1>
                        <hr>
                    </div>
                    {% if allSkills %}
                        <p class="lead">
                            This programming languages that I have added, are my key skills.
                        </p>
                    {% else %}
                        <p class="lead">
                            From this menu below you can add your skills.
                        </p>
                    {% endif %}
                    {% if currentUser == account.user %}
                        <div id="reactSelect"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <!-- Jumbotron for skills -->
        <div class="container-fluid" id="skillsSection"></div>
    {% endif %}

    <!-- Bio Section -->
    <div class="container-fluid padding pt-4">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4 font-weight-bold title">Biography</h1>
                <hr>
            </div>
    
            <div class="col-12" id="moreless">
                <p class="lead text-truncate-p moreLess">
                    {{ account.bio }}
                </p>
            </div>
        </div>
    </div>

    {% if account.user.groups.first.name == "developer" %}
    <!-- Project card section -->
    <div class="container-fluid padding" id="projectsSection">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4 font-weight-bold title">Projects</h1>
            </div>
            <hr>
        </div>
    </div>
      
    <!-- Project Cards-->
    <div class="container-fluid padding">
        <div class="row padding justify-content-center">
            <div class="col-10">
                {% if projects %}
                    <p class="lead text-center padding">
                        This are the projects I have created. You can click on each to see more details about it.
                    </p>
                {% else %}
                    <p class="lead text-center padding">
                        No added Project.
                    </p>
                {% endif %}
            </div>
            {% for project in projects %}
                <div class="col-md-4 mt-4">
                    <div class="card projectBox">
                        {% if not project.video %}
                            <img src="{% static 'capstone/novideo.png' %}" class="card-img-top">
                        {% else %}
                            <video controls>
                                <source src="{{ project.video.url }}" type="video/mp4">
                            </video>
                        {% endif %}
                        <div class="card-body">
                            {% if not project.title %}
                                <h4 class="card-title title">Add Project</h4>
                            {% else %}
                                <h4 class="card-title title">{{ project.title }}</h4>
                            {% endif %}
                            {% if project.description %}
                                <p class="card-text text-truncate">{{ project.description }}</p>
                            {% endif %}
                            {% if project.video %}
                                <a href="{% url 'project' project.id %}" id="moreProjectBtn" class="btn btn-outline-secondary btn-sm">More</a>
                            {% else %}
                                <a href="{% url 'addProject' %}" id="addProjectBtn" class="btn btn-outline-secondary btn-sm"><i class="fas fa-plus"></i> <i class="far fa-file-video"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="my-4">
    </div>
    {% endif %}
      
    <!-- Contact Form-->
    {% if currentUser != account.user %}
        <div class="container-fluid padding">
            <div class="row text-center padding">
                {% if message %}
                    <div class="col-12">{{ message }}</div>
                {% endif %}
                <div class="col-12">
                    <h2 class="title">Contact Form</h2>
                </div>
                <div class="col-12">
                    <!-- put React component inside this div. -->
                    <div id="contactForm1"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Social media icons -->
    <div class="container-fluid padding" id="socialMedia">
        <div class="row text-center padding">
            <div class="col-12">
                <h2 class="title">Connect with me</h2>
            </div>
            <div class="col-12 social padding" id="socialMediaIcons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <!-- Load React. -->
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Load our React component. -->
    <script type="text/babel" src="{% static 'capstone/contactForm.js' %}"></script>
    <script type="text/babel" src="{% static 'capstone/skillsForm.js' %}"></script>

    </body>
</html>